* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}
html {
  font-size: 62.5%; /* 10px */
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem; /* 16px */
}
a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

i {
  vertical-align: middle;
}

body {
  transition: 0.3s ease-in-out;
  overflow-x: hidden;
}
